.container {
  max-width: 90%;
  margin: auto;
  padding: 1rem;
  margin-top: 2.5rem;
}

.mfont {
  font-size: 1.2rem;
}

.lfont {
  font-size: 2.5rem;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #ff9600;
  border-left: 40px solid transparent;
}

.small-triangle {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2783cb;
  border-left: 15px solid transparent;
  position: absolute;
  right: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 3;
}

.letter-space {
  letter-spacing: 2px;
}

.honda-features .container .inner-honda-features .honda-feature-card-body a {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
}

.main-footer .container .copyright-container, .main-footer .container .cookies-info, .main-footer .container .outter-footer-links {
  width: 50%;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.box {
  cursor: pointer;
}

.btn-call_action {
  background: #f43c3f;
  color: #fefffb;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

.content .inner-videos-gallery-title {
  color: #fefffb;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.content .inner-videos-gallery-text {
  color: #fefffb;
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.4;
}

.inner-videos-gallery-link {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.inner-videos-gallery-body-text {
  position: absolute;
  bottom: 3rem;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.honda-gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
}

.honda-gallery-box * {
  margin: 0.7rem 0;
}

.honda-gallery-box img {
  width: 180px;
}

.honda-gallery-box p {
  font-size: 0.9rem;
  color: #fefffb;
}

.honda-gallery-box h2 {
  color: #fefffb;
  font-size: 1rem;
  border-bottom: 2px solid #fefffb;
}

header .main-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fefffb;
}

header .main-nav .menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dadce0;
  padding: 0.5rem 2rem;
}

header .main-nav .menu .items {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .main-nav .menu .items i {
  font-size: 1.7rem;
}

header .main-nav .menu .items .close-icon {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

header .main-nav .menu .items .close-icon.show {
  display: block;
}

header .main-nav .menu .items .bar-icon {
  visibility: visible;
}

header .main-nav .menu .items .bar-icon.hidden {
  visibility: hidden;
}

header .main-nav .menu li:first-child span {
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: 700;
}

header .main-nav .menu li:first-child span:hover {
  color: #969896;
}

header .main-nav .menu div:nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .menu div:nth-child(2) img {
  padding-top: 10px;
}

header .main-nav .menu div:nth-child(3) {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-nav .menu div:nth-child(3) a {
  font-size: 0.9rem;
  font-weight: bold;
}

.banner {
  height: 75vh;
  background: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.banner .search-box {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 0px;
  background: #eeeeee;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  -webkit-transition: height 0.5s ease-out;
  transition: height 0.5s ease-out;
}

.banner .search-box input {
  width: 90%;
  height: 100%;
  background: transparent;
  color: black;
  font-size: 1.4rem;
  border: none;
}

.banner .search-box input:focus {
  outline: none;
}

.banner .search-box input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #969896;
}

.banner .search-box input:-ms-input-placeholder {
  font-size: 1.4rem;
  color: #969896;
}

.banner .search-box input::-ms-input-placeholder {
  font-size: 1.4rem;
  color: #969896;
}

.banner .search-box input::placeholder {
  font-size: 1.4rem;
  color: #969896;
}

.banner .search-box button {
  background: none;
  color: black;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 20px;
}

.banner .search-box button:hover {
  color: #969896;
}

.banner .search-box.showSearchBox {
  height: 90px;
}

.banner .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .overlay h1,
.banner .overlay p {
  color: #fefffb;
  letter-spacing: 2px;
  line-height: 1.4;
}

.banner .overlay a {
  margin: 1rem 0 8rem 0;
}

.menu-bar {
  width: 300px;
  height: 100vh;
  background: #fefffb;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 7;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.menu-bar i,
.menu-bar span {
  font-weight: bold;
  font-size: 0.9rem;
}

.menu-bar span {
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
}

.menu-bar i {
  margin-left: 10px;
}

.menu-bar .home-container {
  width: 100%;
  padding: 1.5rem 1.4rem;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  cursor: pointer;
}

.menu-bar .home-container:hover {
  background: #eeeeee;
}

.menu-bar .accordion-container .accordion-header {
  padding: 1.5rem 1.4rem;
  border-top: 0.5px solid #969896;
  cursor: pointer;
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-bar .accordion-container .accordion-header .plus-icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 5px 0 10px;
}

.menu-bar .accordion-container .accordion-header .plus-icon-container div {
  width: 12px;
  height: 2px;
  background: black;
}

.menu-bar .accordion-container .accordion-header .plus-icon-container .bar1 {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.menu-bar .accordion-container .accordion-header .plus-icon-container .bar2 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.menu-bar .accordion-container .accordion-header .bar2.rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu-bar .accordion-container .accordion-header:hover {
  background: #eeeeee;
}

.menu-bar .accordion-container .accordion-body {
  display: block;
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}

.menu-bar .accordion-container .accordion-body li {
  margin: 1rem 0;
  padding: 0.8rem 3rem;
  width: 100%;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.menu-bar .accordion-container .accordion-body li:hover {
  background: #eeeeee;
}

.menu-bar .accordion-container .accordion-body a {
  font-size: 0.9rem;
}

.menu-bar .accordion-container .accordion-body.activeAccordion {
  height: 480px;
}

.airbag-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.airbag-alert .airbag-warning-container {
  background: #ff9600;
  width: 15%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.airbag-alert .airbag-warning-container .icon-container {
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.airbag-alert .airbag-warning-container .icon-container i {
  color: #ff9600;
  font-size: 1rem;
}

.airbag-alert .airbag-warning-container span {
  color: #fefffb;
  font-size: 1rem;
  font-weight: bold;
}

.airbag-alert .airbag-warning-container div:last-child {
  position: absolute;
  right: -40px;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.airbag-alert .airbag-info {
  width: 85%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.airbag-alert .airbag-info p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem 0 5rem;
}

.airbag-alert .airbag-info a,
.airbag-alert .airbag-info i {
  color: #ff9600;
  font-size: 1rem;
  font-weight: bold;
}

.gallery {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.gallery .inner-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  overflow: hidden;
}

.gallery .inner-gallery div:first-child {
  background: #007cc2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery .inner-gallery div:first-child:hover {
  background: #2783cb;
}

.gallery .inner-gallery div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.gallery .inner-gallery div:nth-child(2) .box-bg {
  background: url("../images/my20-accord-exterior-overview-1140-2x.webp");
}

.gallery .inner-gallery div:nth-child(3) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(3) p {
  text-align: center;
  line-height: 1.4;
}

.gallery .inner-gallery div:nth-child(3) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(3):hover {
  background: #da0e0f;
}

.gallery .inner-gallery div:nth-child(4) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery .inner-gallery div:nth-child(4) .box-bg {
  background: url("../images/street-gold-wing-tile-750x750.jpg");
}

.gallery .inner-gallery div:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: #eeeeee;
}

.gallery .inner-gallery div:nth-child(5) p,
.gallery .inner-gallery div:nth-child(5) h2 {
  color: black;
  text-align: center;
}

.gallery .inner-gallery div:nth-child(5) p {
  line-height: 1.4;
}

.gallery .inner-gallery div:nth-child(5) h2 {
  border-bottom-color: black;
}

.gallery .inner-gallery div:nth-child(5):hover {
  background: #fefffb;
}

.gallery .inner-gallery div:nth-child(6) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.gallery .inner-gallery div:nth-child(6) .box-bg {
  background: url("../images/NSX-Indy-Yellow-Pearl-front-view-driving-large2x.jpg");
}

.gallery .inner-gallery div:nth-child(7) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: black;
}

.gallery .inner-gallery div:nth-child(7) .small-triangle {
  border-bottom-color: black;
  left: -20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.gallery .inner-gallery div:nth-child(7):hover {
  background: #242424;
}

.gallery .inner-gallery div:nth-child(8) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery .inner-gallery div:nth-child(8) .box-bg {
  background: url("../images/corta-cespe.jpg");
}

.gallery .inner-gallery div:nth-child(9) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(9) p {
  text-align: center;
}

.gallery .inner-gallery div:nth-child(9) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(9):hover {
  background: #da0e0f;
}

.gallery .inner-gallery div:nth-child(10) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery .inner-gallery div:nth-child(10) .box-bg {
  background: url("../images/formation-flight.jpg");
}

.gallery .inner-gallery div:nth-child(11) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.gallery .inner-gallery div:nth-child(11) .box-bg {
  background: url("../images/Rubens_Barrichello_2006_Brazil.jpg");
}

.gallery .inner-gallery div:nth-child(12) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(12) p {
  text-align: center;
}

.gallery .inner-gallery div:nth-child(12) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(12):hover {
  background: #da0e0f;
}

.gallery .inner-gallery div:nth-child(13) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery .inner-gallery div:nth-child(13) .box-bg {
  background: url("../images/engine.jpg");
}

.gallery .inner-gallery div:nth-child(14) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.gallery .inner-gallery div:nth-child(14) .box-bg {
  background: url("../images/banner-home-bf4-med.jpg");
}

.gallery .inner-gallery div:nth-child(15) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #eeeeee;
}

.gallery .inner-gallery div:nth-child(15) p,
.gallery .inner-gallery div:nth-child(15) h2 {
  color: black;
  text-align: center;
}

.gallery .inner-gallery div:nth-child(15) h2 {
  border-bottom-color: black;
}

.gallery .inner-gallery div:nth-child(15) .small-triangle {
  border-bottom-color: #eeeeee;
  left: -20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.gallery .inner-gallery div:nth-child(15):hover {
  background: #fefffb;
}

.gallery .inner-gallery div:nth-child(16) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(16) .small-triangle {
  border-bottom-color: #cc0001;
  top: -25px;
  left: 40%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform: translate(50%, 0%);
          transform: translate(50%, 0%);
}

.gallery .inner-gallery div:nth-child(16):hover {
  background: #da0e0f;
}

.gallery .inner-gallery div:nth-child(2),
.gallery .inner-gallery div:nth-child(4),
.gallery .inner-gallery div:nth-child(6),
.gallery .inner-gallery div:nth-child(8),
.gallery .inner-gallery div:nth-child(10),
.gallery .inner-gallery div:nth-child(11),
.gallery .inner-gallery div:nth-child(13),
.gallery .inner-gallery div:nth-child(14) {
  overflow: hidden;
}

.gallery .inner-gallery div:nth-child(2) .box-bg,
.gallery .inner-gallery div:nth-child(4) .box-bg,
.gallery .inner-gallery div:nth-child(6) .box-bg,
.gallery .inner-gallery div:nth-child(8) .box-bg,
.gallery .inner-gallery div:nth-child(10) .box-bg,
.gallery .inner-gallery div:nth-child(11) .box-bg,
.gallery .inner-gallery div:nth-child(13) .box-bg,
.gallery .inner-gallery div:nth-child(14) .box-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.gallery .inner-gallery div:nth-child(2):hover .box-bg,
.gallery .inner-gallery div:nth-child(4):hover .box-bg,
.gallery .inner-gallery div:nth-child(6):hover .box-bg,
.gallery .inner-gallery div:nth-child(8):hover .box-bg,
.gallery .inner-gallery div:nth-child(10):hover .box-bg,
.gallery .inner-gallery div:nth-child(11):hover .box-bg,
.gallery .inner-gallery div:nth-child(13):hover .box-bg,
.gallery .inner-gallery div:nth-child(14):hover .box-bg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.videos-gallery {
  margin-top: 1rem;
}

.videos-gallery h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}

.videos-gallery .inner-videos-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (450px)[2];
      grid-template-rows: repeat(2, 450px);
  cursor: pointer;
}

.videos-gallery .inner-videos-gallery .mobility {
  position: relative;
  background: url("../images/mobility.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}

.videos-gallery .inner-videos-gallery .mobility .content a {
  color: #fefffb;
  padding-top: 0.5rem;
}

.videos-gallery .inner-videos-gallery .enviroment {
  position: relative;
  background: url("../images/enviroment.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.videos-gallery .inner-videos-gallery .enviroment .content a {
  color: #fefffb;
  padding-top: 0.5rem;
}

.videos-gallery .inner-videos-gallery .community {
  position: relative;
  background: url("../images/comunity2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.videos-gallery .inner-videos-gallery .community .content a {
  color: #fefffb;
  padding-top: 0.5rem;
}

.videos-gallery .inner-videos-gallery .safety {
  position: relative;
  background: url("../images/safety.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.videos-gallery .inner-videos-gallery .safety .content a {
  color: #fefffb;
  padding-top: 0.5rem;
}

.honda-history {
  height: 100vh;
  background: url("../images/homepage-p1-philosophy-desktop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.honda-history .inner-honda-history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin-top: 4rem;
}

.honda-history .inner-honda-history h1 {
  text-transform: uppercase;
  color: black;
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.honda-history .inner-honda-history p {
  font-size: 1rem;
  color: #333333;
  line-height: 1.6;
  font-weight: 500;
  text-align: center;
}

.honda-history .inner-honda-history a {
  font-weight: bold;
}

.honda-history .inner-honda-history > * {
  margin: 0.5rem 0;
}

.honda-features h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 2rem 0;
}

.honda-features .container .inner-honda-features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (500px)[2];
      grid-template-rows: repeat(2, 500px);
}

.honda-features .container .inner-honda-features .honda-feature-card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  position: relative;
}

.honda-features .container .inner-honda-features .honda-feature-card-body > * {
  margin: 0.5rem 0;
}

.honda-features .container .inner-honda-features .honda-feature-card-body h1 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #333333;
  margin: 0;
}

.honda-features .container .inner-honda-features .honda-feature-card-body p {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
  color: #333333;
  line-height: 1.4;
  padding: 1rem;
}

.honda-features .container .inner-honda-features .honda-feature-card-body i {
  margin-left: 3px;
}

.honda-features .container .inner-honda-features .honda-feature-card-body .small-triangle {
  top: -64px;
  left: 45%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  border-bottom: 20px solid transparent;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.honda-features .container .inner-honda-features div:nth-child(1),
.honda-features .container .inner-honda-features div:nth-child(3) {
  background: #eeeeee;
}

.honda-features .container .inner-honda-features div:nth-child(1) .honda-feature-card-body .small-triangle,
.honda-features .container .inner-honda-features div:nth-child(3) .honda-feature-card-body .small-triangle {
  border-bottom-color: #eeeeee;
}

.honda-features .container .inner-honda-features div:nth-child(1) .honda-feature-card-body a,
.honda-features .container .inner-honda-features div:nth-child(3) .honda-feature-card-body a {
  color: #337ab7;
}

.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card {
  background: #242424;
}

.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card h1,
.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card p,
.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card a {
  color: #fefffb;
}

.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card .small-triangle {
  border-bottom-color: #242424;
}

.honda-features .container .inner-honda-features div:nth-child(2).honda-feature-card p {
  line-height: 1.4;
  padding: 1rem;
}

.honda-features .container .inner-honda-features .box-feature .bg-img {
  width: 100%;
  height: 100%;
  background: url("../images/acura-drivers.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.honda-features .container .inner-honda-features .hispanic-feature-box {
  background: #eeeeee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 2rem;
}

.honda-features .container .inner-honda-features .hispanic-feature-box i {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 1.5rem;
  color: #337ab7;
  margin-top: 2rem;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .header-feature-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .header-feature-box img {
  width: 50px;
  border-radius: 5px;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .header-feature-box .inner-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .header-feature-box .inner-link-container a {
  color: #337ab7;
  font-size: 1rem;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .header-feature-box .inner-link-container a:first-child {
  font-weight: bold;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .body-feature-box {
  margin-top: 10px;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .body-feature-box p {
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 400;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .body-feature-box a {
  color: #337ab7;
  font-size: 1.4rem;
}

.honda-features .container .inner-honda-features .hispanic-feature-box .body-feature-box a:last-child {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10px;
}

.honda-features .container .inner-honda-features .empty-box i {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 3rem;
  color: #eeeeee;
  margin-top: 2rem;
}

.honda-features .container .inner-honda-features .empty-box .bg-img {
  width: 100%;
  height: 100%;
  background: url("../images/crv.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-footer {
  background: #eeeeee;
  margin-top: 1rem;
}

.main-footer .container {
  padding-top: 3rem;
}

.main-footer .container .inner-footer-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.main-footer .container .inner-footer-links h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #8f8f8f;
  font-weight: bold;
}

.main-footer .container .inner-footer-links li {
  margin: 1.2rem 0;
}

.main-footer .container .inner-footer-links li p {
  font-size: 0.8rem;
  color: #7c7b73;
  margin-top: 5px;
}

.main-footer .container .inner-footer-links a {
  color: black;
  font-weight: bold;
  font-size: 0.9rem;
}

.main-footer .container .inner-footer-links a:hover {
  color: #8f8f8f;
  cursor: pointer;
}

.main-footer .container .inner-footer-links i {
  font-size: 0.8rem;
  margin-left: 10px;
}

.main-footer .container .inner-footer-links div {
  margin-top: 0.8rem;
}

.main-footer .container .inner-footer-links div:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
}

.main-footer .container .inner-footer-links div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.main-footer .container .inner-footer-links div:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.main-footer .container .inner-footer-links div:nth-child(4) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main-footer .container .inner-footer-links div:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.main-footer .container .inner-footer-links div:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.main-footer .container .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 3rem auto 1rem auto;
  padding: 1rem 0;
}

.main-footer .container .social-media-container .icon-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
}

.main-footer .container .social-media-container .icon-container i {
  color: #fefffb;
  font-size: 1.2rem;
}

.main-footer .container .social-media-container .icon-container:hover {
  background: #474747;
}

.main-footer .container .copyright-container p {
  text-align: center;
  font-size: 0.9rem;
  color: #969896;
}

.main-footer .container .policy-container {
  width: 55%;
  margin: 1rem auto;
}

.main-footer .container .policy-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer .container .policy-container ul a {
  font-size: 0.8rem;
  color: #337ab7;
  text-decoration: underline;
}

.main-footer .container .policy-container ul a:hover {
  color: #333333;
}

.main-footer .container .policy-container ul li::after {
  content: "|";
  color: #969896;
  margin-left: 5px;
}

.main-footer .container .policy-container ul li:last-child::after {
  content: "";
}

.main-footer .container .cookies-info {
  margin-top: 1rem;
}

.main-footer .container .cookies-info p {
  color: #969896;
  font-size: 0.8rem;
  text-align: center;
}

.main-footer .container .cookies-info a {
  color: #337ab7;
  text-decoration: underline;
}

.main-footer .container .cookies-info a:hover {
  color: #333333;
}

.main-footer .container .outter-footer-links {
  margin-top: 1rem;
  padding: 1rem 0;
}

.main-footer .container .outter-footer-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer .container .outter-footer-links ul a {
  color: #337ab7;
  font-weight: 500;
  font-size: 1rem;
}

.main-footer .container .outter-footer-links ul li::before {
  content: "|";
  color: #333333;
  width: 10px;
  height: 15px;
  margin-left: 2px;
}

.main-footer .container .outter-footer-links ul li:first-child::before {
  content: "";
}

.overlay-cover {
  width: 90%;
  height: 100vh;
  position: absolute;
  top: 60px;
  left: 300px;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

.overlay-cover.active {
  display: block;
}

.move {
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}

body.hideScrollBar {
  overflow: hidden;
}

.menu-bar.open {
  -webkit-transform: translateX(1px);
          transform: translateX(1px);
}
/*# sourceMappingURL=main.css.map */