* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.container {
  width: 1100px;
  margin: auto;
}

.mfont {
  font-size: 1.2rem;
}

.lfont {
  font-size: 2.5rem;
}

.btn-call_action {
  background: #f43c3f;
  color: #fefffb;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 20px;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.triangle {
  width: 0;
  height: 0;
  border-right: 40px solid transparent;
  border-bottom: 80px solid #ff9600;
  border-left: 40px solid transparent;
}

.small-triangle {
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #2783cb;
  border-left: 15px solid transparent;
  position: absolute;
  right: -20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.honda-gallery-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
}

.honda-gallery-box * {
  margin: 0.7rem 0;
}

.honda-gallery-box img {
  width: 180px;
}

.honda-gallery-box p {
  font-size: 0.9rem;
  color: #fefffb;
}

.honda-gallery-box h2 {
  color: #fefffb;
  font-size: 1rem;
  border-bottom: 2px solid #fefffb;
}

header .main-nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: #fefffb;
}

header .main-nav .menu {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #dadce0;
  padding: 0.5rem 2rem;
}

header .main-nav .menu .items {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .menu .items i {
  font-size: 1.7rem;
}

header .main-nav .menu li:first-child span {
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: 700;
}

header .main-nav .menu div:nth-child(2) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .menu div:nth-child(2) img {
  padding-top: 10px;
}

header .main-nav .menu div:nth-child(3) {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .main-nav .menu div:nth-child(3) a {
  font-size: 0.9rem;
  font-weight: bold;
}

.banner {
  height: 70vh;
  background: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.banner .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .overlay h1,
.banner .overlay p {
  color: #fefffb;
  letter-spacing: 2px;
  line-height: 1.4;
}

.banner .overlay a {
  margin: 1rem 0 8rem 0;
}

.airbag-alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.airbag-alert .airbag-warning-container {
  background: #ff9600;
  width: 15%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.airbag-alert .airbag-warning-container .icon-container {
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.airbag-alert .airbag-warning-container .icon-container i {
  color: #ff9600;
  font-size: 1rem;
}

.airbag-alert .airbag-warning-container span {
  color: #fefffb;
  font-size: 1rem;
  font-weight: bold;
}

.airbag-alert .airbag-warning-container div:last-child {
  position: absolute;
  right: -40px;
  top: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.airbag-alert .airbag-info {
  width: 85%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.airbag-alert .airbag-info p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 1rem 0 5rem;
}

.airbag-alert .airbag-info a,
.airbag-alert .airbag-info i {
  color: #ff9600;
  font-size: 1rem;
  font-weight: bold;
}

.gallery .inner-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
}

.gallery .inner-gallery div:first-child {
  background: #2783cb;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.gallery .inner-gallery div:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  background: url("../images/my20-accord-exterior-overview-1140-2x.webp");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(3) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(3) p {
  text-align: center;
  line-height: 1.4;
}

.gallery .inner-gallery div:nth-child(3) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(4) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: url("../images/street-gold-wing-tile-750x750.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(5) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: #eeeeee;
}

.gallery .inner-gallery div:nth-child(5) p, .gallery .inner-gallery div:nth-child(5) h2 {
  color: black;
  text-align: center;
}

.gallery .inner-gallery div:nth-child(5) p {
  line-height: 1.4;
}

.gallery .inner-gallery div:nth-child(5) h2 {
  border-bottom-color: black;
}

.gallery .inner-gallery div:nth-child(6) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: url("../images/NSX-Indy-Yellow-Pearl-front-view-driving-large2x.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(7) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background: black;
}

.gallery .inner-gallery div:nth-child(7) .small-triangle {
  border-bottom-color: black;
  left: -20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.gallery .inner-gallery div:nth-child(8) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: url("../images/corta-cespe.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(9) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(9) p {
  text-align: center;
}

.gallery .inner-gallery div:nth-child(9) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(10) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: url("../images/formation-flight.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(11) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  background: url("../images/Rubens_Barrichello_2006_Brazil.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(12) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #cc0001;
}

.gallery .inner-gallery div:nth-child(12) p {
  text-align: center;
}

.gallery .inner-gallery div:nth-child(12) .small-triangle {
  border-bottom-color: #cc0001;
}

.gallery .inner-gallery div:nth-child(13) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: url("../images/engine.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(14) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: url("../images/banner-home-bf4-med.jpg");
  background-size: cover;
  background-position: center;
}

.gallery .inner-gallery div:nth-child(15) {
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #eeeeee;
}

.gallery .inner-gallery div:nth-child(15) p, .gallery .inner-gallery div:nth-child(15) h2 {
  color: black;
  text-align: center;
}

.gallery .inner-gallery div:nth-child(15) h2 {
  border-bottom-color: black;
}

.gallery .inner-gallery div:nth-child(15) .small-triangle {
  border-bottom-color: #eeeeee;
  left: -20px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.gallery .inner-gallery div:nth-child(16) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background: #cc0001;
}
/*# sourceMappingURL=main.css.map */