$main-color: black;
$primary-color: #fefffb;
$action-btn: #f43c3f;
$main-font: "Roboto", sans-serif;
$main-menu-border: #dadce0;
$airbag-section-bg: #ff9600;
$dark-red-bg: #cc0001;
$dark-grey: #eeeeee;
$light-grey: #f9f9f9;
$main-title-color: #333333;
$link-color: #337ab7;
$xs-font: 0.9rem;
$sm-font: 1rem;
$m-font: 1.1rem;
$l-font: 1.4rem;
$xl-font: 1.8rem;
