$main-color:black;
$primary-color:#fefffb;
$action-btn:#f43c3f;
$main-font:'Roboto', sans-serif;;
$main-menu-border:#dadce0;
$airbag-section-bg:#ff9600;
$dark-red-bg:#cc0001;
$dark-grey:#eeeeee;
$sm-font:1rem;
$m-font:1.2rem;
